<div class="row">
  <div class="preference col-md-6">

    <form ng-submit="profileSettingUpdated()">
      <button type="button" class="btn btn-primary" ng-click="btnCancel()">Cancel</button>

      <button type="submit" class="btn btn-success" ng-disabled="isDisabled">Save</button>
      &nbsp;&nbsp;

       <fieldset class="form-group">
       <!-- <label>First Name</label> -->
       <input type="text" class="form-control" placeholder="First Name" ng-model="profileSetting.firstname">
      </fieldset>
      <fieldset class="form-group">
      <!-- <label>Last Name</label> -->
      <input type="text" class="form-control" placeholder="Last Name" ng-model="profileSetting.lastname">
      </fieldset>

      <fieldset class="form-group">
      <!-- <label>Select</label> -->
      <!-- <input type="select" class="form-control" ng-model="profileSetting.select"> -->

      <select class="form-control" ng-model="profileSetting.select">
        <option value="select1">select1</option>
        <option value="select2">select2</option>
      </select>

    </fieldset>
    </form>

  </div>

  <div class="preference col-md-06">

    <fieldset class="form-group">
      <input type="text" style="background-color: #5cb85c" ng-model="profileSetting.labelfirstname" />
      <h6 style="background-color: #5cb85c" ng-bind="profileSetting.firstname">Hello</h6>
    </fieldset>

  </div>

 </div>
