
<div style=" float: left;">
  <form ng-submit="profileSettingUpdated()">
  <button type="cancel" class="btn btn-primary" ng-disabled="isEnabled">Cancel</button>
  <button type="submit" class="btn btn-success" ng-disabled="isDisabled">Save</button>

   <fieldset class="form-group">
   <!-- <label>First Name</label> -->
   <input type="text" class="form-control" placeholder="First Name" ng-model="profileSetting.firstname">
  </fieldset>
  <fieldset class="form-group">
  <!-- <label>Last Name</label> -->
  <input type="text" class="form-control" placeholder="Last Name" ng-model="profileSetting.lastname">
  </fieldset>

  <fieldset class="form-group">
  <!-- <label>Select</label> -->
  <!-- <input type="select" class="form-control" ng-model="profileSetting.select"> -->

  <select class="form-control" ng-model="profileSetting.select">
    <option value="select1">select1</option>
    <option value="select2">select2</option>
  </select>

  </fieldset>
  </form>

</div>

<div style="float: left;">

  <fieldset class="form-group">
  <!-- <label>Email</label> -->
  <input type="text" class="form-control" placeholder="First Name" ng-model="profileSetting.name" required disabled>
  </fieldset>

</div>
